body
{
	margin: 0;
	font-family: sans-serif, 'Times New Roman', Times, serif;
	background-color: #4C2F00;
}

header
{
	width: 100%;
	background: #25221D;
	position: sticky;
	top: 0;
}

#BotonMovil
{
	display: none;
}

header label
{
	display: none;
	width: 20px;
	height: 20px;
	padding: 10px;
	border-right: 1px solid red;
}

header label:hover
{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
}

.menu:hover
{
	cursor: pointer;
}

.menu #Logo:hover
{
	cursor: default;
}

.menu ul
{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
}

.menu li
{
	border-right: 2px solid #89775A;
	text-align: center;
	flex-grow: 1;
	transition: 0.3s;
}

.menu ul #Inicio a
{
	color: white;
}

.menu ul #Logo
{
	background-color: #25221D;
}

#QS
{
	background: red;
	color: black;
}

.menu ul #AD a
{
	color: white;
}

.menu ul #Contacto a
{
	color: white;
}

.menu li:hover
{
	background: rgba(255, 0, 0, 1);
}

.menu li a
{
	display: block;
	padding: 10px 10px;
	color: black;
	text-decoration: none;
}

.equipo
{
	width: 90%;
	margin: auto;
	color: white;
}

.Miembros
{
	height: 600px;
	width: 90%;
	max-width: 600px;
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
}

.LGS
{
	height: 550px;
	width: 30%;
	margin: 0;
	padding: 30px;
	text-align: center;
	color: white;
}

.LGS img
{
	border-radius: 100px;
}

.LGS h3
{
	color: red;
}

.Nick
{
	height: 550px;
	width: 30%;
	margin: 0;
	padding: 30px;
	text-align: center;
	color: white;
}

.Nick img
{
	border-radius: 100px;
}

.Nick h3
{
	color: red;
}

.Thomas
{
	height: 550px;
	width: 30%;
	margin: 0;
	padding: 30px;
	text-align: center;
	color: white;
}

.Thomas img
{
	border-radius: 100px;
}

.Thomas h3
{
	color: red;
}

.Elias
{
	height: 550px;
	width: 30%;
	margin: 0;
	padding: 30px;
	text-align: center;
	color: white;
}

.Elias img
{
	border-radius: 100px;
	filter: grayscale(100%);
}

.Elias h3
{
	color: red;
}

.Vinculos
{
	padding-top: auto;
	padding-bottom: 68px;
	color: white;
	background-color: red;
}

.Vinculos h2
{
	padding-left: 5%;
	width: auto;
	color: white;
}

.Vinculos hr
{
	width: 90%;
}

.Vinculos #IDB
{
	padding-left: 5%;
	width: 5%;
}

.Vinculos #SC
{
	width: 5%;
}

@media (max-width :780px)
{
	header label
	{
		display: block;
	}

	.menu
	{
		position: absolute;
		background: #25221D;
		width: 50%;
		margin-left: -80%;
		transition: all 0.2s;
	}

	.menu ul
	{
		flex-direction: column;
	}

	.menu li
	{
		border-top: 1px solid #25221D;
	}

	#BotonMovil:checked ~ .menu
	{
		margin-left: 0;
	}

	.equipo
	{
		width: 90%;
		margin: auto;
		color: white;
	}

	.Miembros
	{
		height: 600px;
		width: 100%;
		max-width: 600px;
		margin: auto;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.LGS img
	{
		width: 100%;
	}

	.Nick img
	{
		width: 100%;
	}

	.Thomas img
	{
		width: 100%;
	}

	.Elias img
	{
		width: 100%;
	}

	.Vinculos #IDB
	{
		width: 10%;
	}

	.Vinculos #SC
	{
		width: 10%;
	}
}